@model Gerenciamento_Empresas.Models.Pessoa

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocalId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocalId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cpf">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">BacktoList</a> |
    <a class="btn btn-primary text-light" id="elGenerateReport"> Gerar Relatorio</a>
</div>
<div>

    <script src=" https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <script>
        let elGenerateReport = document.querySelector('#elGenerateReport');
        elGenerateReport.onclick = () => {
            printJS({
                printable: 'content',
                type: 'html',
                targetStyles: ['*']
            })
        }
    </script>
</div>